@{
    ViewData["Title"] = "DemeTech: agricultura do futuro";
}

<section class="mb-2">
    <div class="title-section mb-5 indexTitle">
        <div class="title-card text-center">
            <h1 class="display-2 title-card__title">DemeTech</h1>
            <h2 class="display-3 fw-normal title-card__title">Agricultura futurista em ambientes urbanos</h2>
        </div>
    </div>

    <div id="demetechCarousel" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demetechCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#demetechCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#demetechCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/fazenda vertical.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>A melhor fazenda vertical do Brasil!</h5>
                    <p>Plantações em ambientes controlados e adaptados para qualquer situação.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/mercado.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fornecemos alimentos para todos os mercados da região</h5>
                    <p>Alimentos sempres disponíveis para abastecimento dos mercados.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/doacao.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Combatemos a insegurança alimentar!</h5>
                    <p>Plantações dedicadas para doações pertinho de você.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#demetechCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demetechCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
